@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@600&family=Exo+2&display=swap');

html {
    font-family: "Maitree", serif;
    font-weight: 600;
    font-style: normal;
    background: rgb(253, 254, 246);
    margin: 0;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #9BC4BC;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

h1 {
    animation: rubberBand 1s infinite;
    font-family: 'Maitree';
}

.border-box {
    padding: 10px;
    border-image: var(--border-gradient);
    border-width: 5px;
    border-style: solid;
    border-radius: 50em;
    justify-content: center;
}

h2 {
    font-family: 'Exo 2';
}

img {
    width: 500px;
    animation: flip 1s;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wiggle {
    display: flex;
    justify-content: center;
    align-items: center;
}
