@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@600&family=Exo+2&display=swap');

html {
    font-family: "Maitree", serif;
    font-weight: 600;
    font-style: normal;
    background: rgb(253, 254, 246);
    margin: 0;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #9BC4BC;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: relative;
}

.home-button {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.home-button a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

h1 {
    animation: rubberBand 1s;
    font-family: 'Maitree';
}

.border-box {
    padding: 10px;
    border-image: var(--border-gradient);
    border-width: 5px;
    border-style: solid;
    border-radius: 50em;
    justify-content: center;
}

h2 {
    font-family: 'Exo 2';
}

img {
    width: 500px;
    animation: flip 1s;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-animate {
  transition: transform 0.5s;
}

.hover-animate:hover {
  transform: scale(1.1);
}